*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background: white;
}
.h1 {
  text-align: center;
  margin-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
.parrafo-fromulario{
  text-align: center;
  color: #fff;
  /* margin-top: 15px; */
}
.formulario{
  /* margin-bottom: 68px; */
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  width: 45%;
  height: 250px;
  margin-left: 388px;
  border-radius: 10px;
  -webkit-box-shadow: 14px 14px 29px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 14px 29px -6px rgba(0,0,0,0.75);
  box-shadow: 14px 14px 29px -6px rgba(0,0,0,0.75);
  margin-top: 35px;
}
.num-tarjeta{
  background: rgb(154, 148, 240);
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: #393939;
  font-size: 15px;
  padding: 5px;
  width: 238px;
  height: 44px;
  margin-top: 53px;
  margin-left: 24%;
  /* text-align: center; */
}
.btn-validar{
  display: inline-block;
  padding: 11px 15px;
  border: 1px solid chartreuse;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  color: black;
}
.btn-validar:hover{
  background: #572cbb;
  color:#fff;  
}
.like{
  margin-left: 250px;
  margin-top: 15px;
}
.unlike{
  margin-left: 250px;
  margin-top: 15px;
}
.footer{
  position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    height: 46px;
     text-align: center ;
     padding: 10px;
     margin-top: 10px; 
     background: linear-gradient(to right, #55646d, #302b63, #55646d);
}
.parrafo2{
  font-family: 'PT Serif', serif;
  margin-left: 20px;
  text-align: center;
}
.pfooter{
  color: rgb(154, 148, 240);
}
a{
  color: rgb(53, 223, 209);
}




